*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   background: linear-gradient(45deg, #48484b80 20%, transparent 21%, transparent 79%, #48484b80 80%) , linear-gradient(315deg, #48484b80 20%, transparent 21%), linear-gradient(45deg, #48484b 20%, transparent 21%), linear-gradient(315deg, #48484b 20%, transparent 21%, transparent 79%, #48484b80 80%);
   background-size: 2em 2em;
   background-color: #000000;
   opacity: 1
}


.header__link{
   color: white;
   text-decoration: none;
}

.container{
   width: 1820px;
   max-width: 80%;
   margin: 0 auto;
}

.wraper{
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
}


.section__photo{
   width: 280px;
   border: 1px solid white;
   border-radius: 15px;
}

.cards{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.section__foto{
   width: 215px;
   border: 1px solid white;
   border-radius: 15px;
}

.section__kartina{
   width: 280px;
   height: 212px;
   border: 1px solid white;
   border-radius: 15px;
}

h1{
   color: rgb(65, 65, 248);
   text-align: center;
margin: 20px;
}


.ps5__photo{
   width: 500px;
   border: 5px solid rgb(130, 241, 251);
   border-radius: 20px;
   margin-right: 200px;
}

.ps5__title{
   color: cornsilk;
   text-align: center;
}

.ps5__cards{
   display: flex;
  justify-content: center;
  
}  

.ps5__photoo{
   width: 460px;
   border: 5px solid rgb(130, 241, 251);
   border-radius: 20px;

}

.ps5{
   margin-top: 50px;
}